body {
  font-family: sans-serif;
  line-height: 1.5;

  background-image: url("./../img/bg.png");
  background-repeat: repeat;
  color: #333333;

  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}

main > h2 {
  text-align: center;
  font-size: 25px;
}